<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/headConfig') %>
    <title>Blog · login</title>
  </head>
  <body>
   <div class="container">
    <%- include('../partials/navbar') %>
    <main class="main">
      <form action="/user/login" method="post" class="form">
        <header class="header-wrapper">
          <h2 class="header">login</h2>
        </header>
        <% if (messages.error) { %>
        <div class="form-items-wrapper">
          <p class="message-error"><%= messages.error %></p>
        </div>
        <% } %>
        <% if (messages.success) { %>
        <div class="form-items-wrapper">
          <p class="message-success"><%= messages.success %></p>
        </div>
        <% } %>
        <div class="form-items-wrapper">
          <label for="email" class="form-label">email</label>
          <input type="email" name="email" id="email" class="form-input" required/>
        </div>
        <div class="form-items-wrapper">
          <label for="password" class="form-label">password</label>
          <input type="password" name="password" id="password" class="form-input" required/>
        </div>
        <div class="form-items-wrapper">
          <input type="checkbox" name="rememberMe" id="rememberMe" class="form-input"/>
          <label for="rememberMe" class="form-label">Remember me</label>
        </div>
        <div class="form-items-wrapper">
          <button type="submit" class="form-button">Login</button>
        </div>
        <div class="form-items-wrapper">
          <p>
            Don't have an account?
            <a class="form-link" href="/user/register">register</a>
          </p>
        </div>
      </form>
    </main>
   </div>
   <%- include('../partials/footer') %>
   <%- include('../partials/scriptConfig') %>
  </body>
</html>